[Desktop Entry]
Type=Application
Version=1.0
Name=Knot3
Comment=Knot3 Game
Icon=knot3
Exec=/usr/games/knot3
Path=/usr/share/knot3
Categories=GNOME;GTK;Game;LogicGame;

